<ul>
  <li>
    <%= link_to 'Material Stock', materials_path %>
  </li>
  <li>Outgoing Bon</li>
  <li>Inspection Report</li>
  <li>
    <%= link_to 'User Profile', users_path %>
  </li>
  <li>
    <%= link_to 'Job Position', roles_path %>
  </li>
  <li>
    <%= link_to 'Log out', logout_path, method: :delete %>
  </li>
</ul>
