<ul>
  <li>
    <%= link_to 'Material', materials_path %>
  </li>
  <li>Estate</li>
  <li>Worker</li>
  <li>Outgoing Bon</li>
  <li>Inspection</li>
  <li>User Profile</li>
  <li><b>Dashboard</b></li>
  <li>
    <%= link_to 'Log out', logout_path, method: :delete, class: ""%>
  </li>
</ul>
