<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <b>Dear User</b>
    <br>
    <i>(<%= obj.to_a %>)</i>
    <br>
    <p>Your new password is ... Please log in to <a href="https://fertilization-mp.herokuapp.com">Fertilization-Mp</a></p>
    <br>
    <b>Thanks</b>
    <br>
    <span>Github Link <a href="https://github.com/mfirmanakbar/fertilization-mp">(Fertilization-Mp)</a></span>

  </body>
</html>
