<h4>Material Stock</h4>
<hr>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
          Form Material
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label>Material Name</label>
            <input type="text" class="form-control" id="materialName" name="materialName" placeholder="Enter Material Name">
            <small id="emailHelp" class="form-text text-muted">Name of Material for Fertilizer.</small>
          </div>
          <div class="form-group">
            <label>Stock Qty</label>
            <input type="text" class="form-control" id="stockName" name="stockName" placeholder="Enter Stock Quantity">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
